<% @content_heading = "New memorial" %>
<p><%= link_to 'Back', admin_memorials_path %></p>
<%= error_messages_for :memorial %>

<% form_for([:admin,@memorial], :html => { :multipart => true }) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

<p>
	<b>Photo</b><br />
	<%= f.file_field :uploaded_data_photo %>
</p>


  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>


