<% @content_heading = "New link" %>
<p><%= link_to 'Back', admin_links_path %></p>
<%= error_messages_for :link %>

<% form_for([:admin,@link]) do |f| %>
  <p>
    <b>Url</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>


