<% @content_heading = "Editing page" %>
<p><%= link_to 'Show', admin_cms_page_path(@cms_page) %> | <%= link_to 'Back', admin_cms_pages_path %></p>

<% form_for([:admin,@cms_page], :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :reference_string %><br />
    <%= f.text_field :reference_string %>
  </p>

  <p>
    <%= f.label :css_class %><br />
    <%= f.text_field :css_class %>
  </p>


  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :nav_text %><br />
    <%= f.text_field :nav_text %>
  </p>

  <p>
    <%= f.label :sub_title %><br />
    <%= f.text_field :sub_title %>
  </p>

<p>
	<b>Main Image</b><br />
	<%= f.file_field :uploaded_data_img_main %>
</p>


<% if !@cms_page.img_main.nil? %>
<%= image_tag @cms_page.img_main.public_filename(:thumb)  %>
<p>
	<%= f.label :remove_img_main, "Remove Main Image", :class => "left" %>
	<%= f.check_box :remove_img_main %>
</p>
<% end %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :class => :huge %>
  </p>
  <p>
    <%= f.label :parent_id %><br />
    <%= f.collection_select :parent_id, CmsPage.all, :id, :reference_string, :include_blank => "Choose one..." %>
  </p>
  <p>
    <%= f.label :meta_description %><br />
    <%= f.text_area :meta_description, :class => "noEditor" %>
  </p>

  <p>
    <%= f.label :meta_keywords %><br />
    <%= f.text_area :meta_keywords, :class => "noEditor"  %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

