<% @content_heading = "Editing system" %>
<p><%= link_to 'Show', admin_system_path(@system) %> | <%= link_to 'Back', admin_systems_path %></p>
<%= error_messages_for :system %>

<% form_for([:admin,@system], :html => {:multipart => true}) do |f| %>
<p>
	<b>Title</b><br />
	<%= f.text_field :title %>
</p>

<p>
	<b>Description</b><br />
	<%= f.text_area :description %>
</p>

<p>
	<b>Photo</b><br />
	<%= f.file_field :uploaded_data_photo %>
</p>


	<% if !@system.attachments.photo.nil? %>
		<%= image_tag @system.attachments.photo.public_filename(:thumb)  %>
		<p>
			<%= label :system, :remove_photo, "Remove Photo", :class => "left" %>
			<%= f.check_box :remove_photo %>
		</p>
	<% end %>

	<p>
		<%= f.submit "Update" %>
	</p>
<% end %>


