<% @content_heading = "New News Item" %>
<%= error_messages_for :news_item %>

<% form_for(@news_item) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b>Date</b><br />
    <%= f.date_select :date %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', news_items_path %>
