<% @content_heading = "Editing professor" %>
<p><%= link_to 'Show', admin_professor_path(@professor) %> | <%= link_to 'Back', admin_professors_path %></p>
<%= error_messages_for :professor %>

<% form_for([:admin,@professor], :html => {:multipart => true}) do |f| %>
<p>
  <b>Name</b><br />
  <%= f.text_field :name %>
</p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>



  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>


