<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= SITE_NAME %> Admin Area | <%= @controller.controller_name %></title>
	<%= meta "description", meta_description %> 
	<%= meta "keywords", meta_keywords %> 
	
	<%= javascript_include_tag "application"  %>
	<%= stylesheet_link_tag 'main', 'admin', 'errors', 'tables', 'forms', 'lists', 'typography', 'nav' %>
	
	<%= render :partial => "shared/tinymce" %>
</head>
<body>
	<div id="canvas">

		<div id="masthead">
			<h1>Admin Area - <%= RAILS_ENV %></h1>
			<p><%= link_to "Public Site", root_path %></p>
		</div> <!-- masthead -->
		
		<div id="nav_admin">
					<ul>
						<li><%= link_to "The System", admin_systems_path %></li>
						<li><%= link_to "Programs", admin_programs_path %></li>
						<li><%= link_to "Facilities", admin_facilities_path  %></li>				
						<li><%= link_to "Store", admin_store_categories_path %></li>
						<li><%= link_to "Home", "/" %></li>
						<li><%= link_to "Online Training", "" %></li>
						<li><%= link_to "Photos", admin_photo_categories_path %></li>
						<li><%= link_to "Videos", admin_video_categories_path  %></li>
						<li><%= link_to "Press", admin_article_categories_path %></li>
						<li><%= link_to "Events", admin_events_path %></li>
						<li><%= link_to "News", admin_news_items_path %></li>
						<li><%= link_to "Testimonials", admin_testimonials_path %></li>
						<li><%= link_to "In Memorium", admin_memorials_path %></li>
						<li><%= link_to "Awards &amp; Honors", admin_awards_path %></li>
						<li><%= link_to "Professors", admin_professors_path %></li>
						<li><%= link_to "Links", admin_links_path %></li>
						<li>----</li>
						<li><%= link_to "Users", admin_users_path %></li>
						<li><%= link_to "Roles", admin_roles_path %></li>
						<li><%= link_to "Config Values", admin_config_values_path %></li>				
						<li><%= link_to "Logout", logout_path %></li>
					</ul>
				</div>
		</div><!-- nav_admin -->
				
		<div id="admin_content">
			<div id="inner_content">
				<h1><%= content_heading %></h1>
				<%= flash_block -%>
				<%= yield  %>
			</div>
		</div>
	
	</div>
</body>
</html>
