<% @content_heading = "Editing award" %>
<p><%= link_to 'Show', admin_award_path(@award) %> | <%= link_to 'Back', admin_awards_path %></p>
<%= error_messages_for :award %>

<% form_for([:admin,@award], :html => { :multipart => true }) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>


  <p>
    <b>Url</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <b>Date</b><br />
    <%= f.date_select :date %>
  </p>
<p>
	<b>Photo</b><br />
	<%= f.file_field :uploaded_data_photo %>
</p>


	<% if !@award.attachments.photo.nil? %>
		<%= image_tag @award.attachments.photo.public_filename(:thumb)  %>
		<p>
			<%= label :system, :remove_photo, "Remove Photo", :class => "left" %>
			<%= f.check_box :remove_photo %>
		</p>
	<% end %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>


